<!-- wp:template-part {"slug":"header","theme":"cyber-security-blocks","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"cyber-security-blocks/header-image"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">

<!-- wp:pattern {"slug":"cyber-security-blocks/not-found"} /-->

</main>
<!-- /wp:group -->
    
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cyber-security-blocks","tagName":"footer","className":"custom-footer-class"} /-->