<!-- wp:template-part {"slug":"header","theme":"cyber-security-blocks","tagName":"header","className":"custom-home-header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"cyber-security-blocks/banner"} /-->

<!-- wp:pattern {"slug":"cyber-security-blocks/about-us"} /-->

<!-- wp:pattern {"slug":"cyber-security-blocks/our-services"} /-->

<!-- wp:pattern {"slug":"cyber-security-blocks/choose-us"} /-->

<!-- wp:pattern {"slug":"cyber-security-blocks/info-box"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cyber-security-blocks","tagName":"footer","className":"custom-footer-class"} /-->